<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.hp.mapper.ArticlesMapper">

<!--	<resultMap type="" id=""></resultMap>-->

	<select id="getAllArticleData" resultType="com.company.hp.dto.ArticleDataDto">
		SELECT
			 article_id,
			 title,
			 content,
			 is_published,
			 is_deleted,
			 published_at
		FROM articles
	</select>
	
	<select id="getArticleData" resultType="com.company.hp.dto.ArticleDataDto">
		SELECT
			 article_id,
			 title,
			 content,
			 is_published,
			 is_deleted,
			 published_at
		FROM articles
		WHERE is_published = 1
			  AND is_deleted = 0
		ORDER BY published_at DESC
	</select>

</mapper>